{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}

	{% for employe in employees %}

		{% if 'ROLE_USER' in employe.roles %}

			<div
				class="card" style="width: 18rem;">
				{# <img src=" {{ asset(employe.media.filename) }} " class="card-img-top" alt="..."> #}
				<div class="card-body">
					<h5 class="card-title">
						{{ employe.firstname }}
						{{ employe.lastname }}
					</h5>

					<p class="card-text">{{ employe.contractType.name }}
					</p>
					<p class="card-text">{{ employe.sector.name }}
					</p>
					<a href=" {{ path('app_item', {'id': employe.id}) }} " class="btn btn-dark">
						Fiche
					</a>
				</div>
			</div>
			{# {% for media in employe.media %}
																																																																			{{ media.filename }}
																																																																
																																																																			<img src="https://via.placeholder.com/640x480.png/00cc88?text=voluptatem" alt="">
																																																																		{% endfor %} #}
		{% endif %}
	{% endfor %}

{% endblock %}
