{% extends 'base.html.twig' %}

{% block title %}Liste des employées{% endblock %}
{% block body %}
<h1>
		{{block('title')}}
	</h1>
   <div class="container d-flex flex-wrap justify-content-around mt-5">
    {% for employe in employees %}
        {% if 'ROLE_USER' in employe.roles %}
            <div class="card" style="width: 18rem;">
                {% for media in employe.media %}
				<div class="w-25">
                    <img class="w-100" src="{{ asset("uploads/" ~ media.filename) }}" class="card-img-top" alt="image de profile de {{employe.firstname}}">
				
				</div>
                {% endfor %}
                <div class="card-body">
                    <h5 class="card-title">
                        {{ employe.firstname }} {{ employe.lastname }}
                    </h5>
                    <p class="card-text">Contrat : {{ employe.contractType.name }}</p>
                    <p class="card-text">Secteur d'activité : {{ employe.sector.name }}</p>
                    <a href="{{ path('app_item', {'id': employe.id}) }}" class="btn btn-dark">
                        Voir Fiche
                    </a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
   </div>

{% endblock %}
