{% extends 'base.html.twig' %}

{% block title %}
	{# {{ employe.lastname }} #}
{% endblock %}
{% block body %}
	<div class="card w-100">
		{% for media in employe.media %}

			<img src="{{ asset("uploads/" ~ media.filename) }}" class="card-img-top" alt="...">
		{% endfor %}

		<div class="card-header">
			<h5 class="card-title">
				{{ employe.firstname }}
				{{ employe.lastname }}
			</h5>
		</div>
		<div>
			<p class="card-text">{{ employe.contractType.name }}
			</p>
			<p class="card-text">{{ employe.sector.name }}
			</p>
		</div>
		<div class="card-body">
			<div class="tasks">
				<div class="task d-flex">
					{% for task in employe.tasks %}
						{% if user is same as(employe) %}
							<input type="checkbox" name="task_{{task.id}}" id="task_{{task.id}}" {% if task.isCompleted %} checked {% endif %}>
						{% endif %}

						<label for="task_{{task.id}}">{{ task.name }}</label>
					{% endfor %}
				</div>
			</div>

		</div>
	</div>
{% endblock %}
